.answer {
    text-align: center;
    letter-spacing: 5px;
    margin: 20px 0;
    display: inline-block;
    line-height: 1.5;
    background-color: $red;
    color: $white;
    font-size: 2em;
    padding: 0.5em 2em;
}