.keyboard {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 5px;
    margin: 20px 0;
    text-align: center;
}

.key {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: $green;
    color: $white;
    //margin: 1px;

    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        background-color: $blue;
    }

    span {
        pointer-events: none;
    }
}