.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 0 2em;
}

.header__category {
    text-align: left;

    h1 {
        text-transform: uppercase;
    }
}

.header__score {
    text-align: right;
}

.header__category,
.header__score {
    span {
        text-transform: uppercase;
        font-size: .7em;
        color: $green;
        opacity: .7;
        display: block;
        margin-bottom: .2em;
    }

    h1 {
        color: $red;
        font-size: 1.2em;
    }
    
}

.score {
    font-weight: bold;
    color: $green;
}

.main-content {
    padding: 1em;
    background-color: $white;
    text-align: center;
}

.hangman__app {
    font-size: 16px;
    font-family: $main-font, sans-serif;
}